<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-lg-12">
      <!--Body content-->

      <ul>
        <li ng-repeat="data in tableData">
          <a href="#/{{data.id}}" class="thumb"><img ng-src="{{data.thumb}}"></a>
          <a href="#/{{data.id}}">{{data.name}}</a>
        </li>
      </ul>

    </div>
  </div>
</div>